<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wellcome!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="shortcut icon" href="../images/LogoPorfolio.png" type="image/x-icon">
</head>
<body>
  <div class="video-container">
    <video class="videoFondo" src="../images/fondo.mp4" autoplay="true" muted="true" loop="true"></video>
  </div>
  <div id="app">
     <div class="container-loader" id="container-loader">
      <img src="../images/LogoPorfolio.png" alt="">
            <div class="loader">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    <header>
      <nav id="navbar" class="navbar fixed-top navbar-expand-lg ms-0 w-100">
        <div class="container-fluid d-flex navContent navbar-expand-lg justify-content-between me-0 ms-0 container">
          <img src="../images/Logo_Navbar.png" alt="Logo" width="400" height="65" class="d-inline-block logo align-text-top">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ancors-navbar justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a type="button" class="navbar-brand text-white" href="#sobremi" class="a-nav">About Me</a>
              </li>
              <li class="nav-item">
                <a type="button" class="navbar-brand text-white" href="#proyectos">Proyects</a>
              </li>
              <li class="nav-item">
                <a type="button" class="navbar-brand text-white" href="#hablemos" class="a-nav">Contact</a>
              </li>
            </ul>
            <div id="app" class="d-flex align-items-center">
              <img src="../images/español.png" alt="" width="50" height="30">
              <input type="checkbox" class="check" @change="cambiarIdioma1()" checked>
              <img src="../images/english.png" alt="" width="50" height="30">
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section id="sobremi">
        <h1 class="text-center text-white">A bit about me...</h1>
        <div class="d-flex justify-content-around align-items-center flex-wrap m-1">
          <div class="sombra">
            <img class="p-1 " src="../images/yo.jpg" alt="Tatiana Guzmán">
          </div>
          <div class="p-3 m-2 text-white border border-2 border-black fondo ancho w-50 rounded-2">
            <h3>Hello!</h3>
            <h5>I'm Tatiana Guadalupe Guzman</h5>
            <h4>Full-Stack Web Developer JAVA</h4>
            <h6>Before I started, let me tell you why I decided to dive deeper into the IT world and study
              more about it...</h6>
            <p>These are times of constant change, and the best way to navigate them is by growing alongside
              them, which is why I decided to step into the realm of technology.</p>
            <p>
              As I began my journey in web development, I understood the importance of technologies and
              continued learning, eventually reaching a point where I enjoy what I do, quoting
              <strong>Linus Torvalds</strong>:
            </p>
            <p class="text-center"><em>"Most good programmers do programming not because they expect to get paid
                or get adulation by the public, but because it is fun to program."</em></p>
          </div>
        </div>
        <h2 class="text-white text-center">I work with:</h2>
        <div class="m-5 mt-3 border border-2 rounded-2 border-black fondo ">
          <ul class="ul1 d-flex justify-content-around ps-0 align-items-center flex-wrap m-3">
            <li>
              <img class="rounded-2" src="../images/metodologiaSCRUM.avif" alt="Metodologia Agile SCRUM">
            </li>
            <li>
              <img src="../images/HTML.svg" alt="HMTL">
            </li>
            <li>
              <img src="../images/CSS.svg" alt="CSS">
            </li>
            <li>
              <img src="../images/JavaScript.svg" alt="JavaScript">
            </li>
            <li>
              <img src="../images/java.svg" alt="JAVA">
            </li>
            <li>
              <img src="../images/Git.svg" alt="Git">
            </li>
            <li>
              <img src="../images/Github.svg" alt="GitHub">
            </li>
            <li>
              <img class="rounded-2" src="../images/axios.png" alt="Axios">
            </li>
            <li>
              <img src="../images/Bootstrap.svg" alt="Bootstrap">
            </li>
            <li>
              <img src="../images/gradle.svg" alt="Gradle">
            </li>
            <li>
              <img src="../images/Maven.svg" alt="Maven">
            </li>
            <li>
              <img src="../images/PostgreSQL.svg" alt="PostgreSQL">
            </li>
            <li>
              <img src="../images/Spring.svg" alt="Spring">
            </li>
            <li>
              <img class="rounded-2" src="../images/VueJS.png" alt="Vue.Js">
            </li>
            <li>
              <img src="../images/Postman.svg" alt="Postman">
            </li>
            <li>
              <img src="../images/VSCode.svg" alt="Visual Studio Code">
            </li>
            <li>
              <img src="../images/Idea.svg" alt="IntelliJ IDEA Community">
            </li>
            <li>
              <img src="../images/Discord.svg" alt="Discord">
            </li>
          </ul>
        </div>
      </section>
      <section id="proyectos">
        <h2 class="text-center text-white">My Proyects:</h2>
        <div class="d-flex justify-content-around m-2 flex-wrap">
          <div class="card m-2 fondo text-white p-1 border border-2 border-black" style="width: 18rem;">
            <img class="p-1 rounded-3"
              src="../images/Proyectos/Lorem Ipsum _ Contacto - Google Chrome 14_8_2023 22_51_57.png" alt="">
            <button data-bs-toggle="modal" @click="openModal(projects[0])" data-bs-target="#exampleModal"
              class="w-25 btn border border-0 bg-transparent botonPlay"><img src="../images/youtube.svg"
                alt="Ver Video"></button>

            <div class="card-body">
              <h5 class="card-title text-center">PetShop "Lorem Ipsum"</h5>
              <p class="card-text text-center">
                Front End Design</p>
            </div>
            <p class="border-top">Used Technologies:</p>
            <div class="d-flex justify-content-around">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Vue.Js</li>
                <li>Boostrap</li>
                <li>Axios</li>
              </ul>
              <ul>
                <li>Alertify</li>
              </ul>
            </div>
            <div class="d-flex justify-content-around mb-3">
              <a href="https://tatiguzman3036.github.io/PetShopLoremImpsut/index.html" class="card-link boton3">Link
                Lorem Ipsum</a>
              <a href="https://github.com/Tatiguzman3036/PetShopLoremImpsut" class="card-link boton3">Git Hub</a>
            </div>
          </div>
          <div class="modal fade bg-transparent" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content border border-white border-1">
                <div class="modal-header">
                  <h2 class="modal-title fs-5 text-white" id="staticBackdropLabel"><strong>{{ currentProject.title
                      }}</strong></h2>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <video class="video-modal" :src="currentProject.video" autoplay controls></video>
                </div>
              </div>
            </div>
          </div>
          <div class="card m-2 p-1 fondo text-white border border-2 border-black" style="width: 18rem;">
            <img class="p-1 rounded-3" src="../images/Proyectos/Amazin Events_Home -foto.jpg" alt="">
            <button data-bs-toggle="modal" @click="openModal(projects[1])" data-bs-target="#exampleModal"
              class="w-25 btn border border-0 bg-transparent botonPlay"><img src="../images/youtube.svg"
                alt="Ver Video"></button>
            <div class="card-body">
              <h5 class="card-title text-center">"Amazing Events"</h5>
              <p class="card-text text-center">
                Front End Design</p>
            </div>
            <p class="border-top">Used Technologies:</p>
            <ul class="">
              <li class="">HTML</li>
              <li class="">CSS</li>
              <li class="">JavaScript</li>
              <li class="">Vue.Js</li>
              <li class="">Boostrap</li>
              <li class="">Axios</li>
            </ul>
            <div class="d-flex justify-content-around mb-3">
              <a href="https://tatiguzman3036.github.io/amazin_events_Vue/" class="card-link boton3">Link Amazing
                Events</a>
              <a href="https://github.com/Tatiguzman3036/amazin_events_Vue" class="card-link boton3">Git Hub</a>
            </div>
          </div>
          <div class="card m-2 p-1 fondo text-white border border-2 border-black" style="width: 18rem;">
            <img class="p-1 rounded-3" src="../images/Proyectos/HomebankingLaGuzmi-foto.jpg" alt="">
            <button data-bs-toggle="modal" @click="openModal(projects[2])" data-bs-target="#exampleModal"
              class="w-25 btn border border-0 bg-transparent botonPlay"><img src="../images/youtube.svg"
                alt="Ver Video"></button>
            <div class="card-body">
              <h5 class="card-title text-center">Homebanking "La Guzmi"</h5>
              <p class="card-text text-center">Full Stack Development</p>
            </div>
            <p class="border-top">Used Technologies:</p>
            <div class="d-flex justify-content-around align-items-center">
              <ul class="">
                <li class="">HTML</li>
                <li class="">CSS</li>
                <li class="">JavaScript</li>
                <li class="">Vue.Js</li>
                <li class="">Boostrap</li>
                <li class="">Axios</li>
              </ul>
              <ul class="">
                <li class="">JAVA</li>
                <li class="">Spring Boot</li>
                <li class="">PostgreSQL</li>
                <li class="">Postman</li>
                <li class="">JSON</li>
              </ul>
            </div>
            <div class="d-flex justify-content-around mb-3">
              <a href="https://homebankinglaguzmi.onrender.com/index.html" class="card-link boton3">Link La Guzmi</a>
              <a href="https://github.com/Tatiguzman3036/proyecto_homebanking_guzman_tatiana"
                class="card-link boton3">Git Hub</a>
            </div>
          </div>
          <div class="card m-2 p-1 fondo text-white border border-2 border-black" style="width: 18rem;">
            <img class="p-1 rounded-3" src="../images/Proyectos/GOZOGrowShop-foto.jpg" alt="">
            <button data-bs-toggle="modal" @click="openModal(projects[3])" data-bs-target="#exampleModal"
              class="w-25 btn border border-0 bg-transparent botonPlay"><img src="../images/youtube.svg"
                alt="Ver Video"></button>
            <div class="card-body">
              <h5 class="card-title text-center">GrowShop "Gozo"</h5>
              <p class="card-text text-center">Full Stack Development</p>
            </div>
            <p class="border-top">Used Technologies:</p>
            <div class="d-flex justify-content-around align-items-center">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Vue.Js</li>
                <li>Boostrap</li>
                <li>Axios</li>
              </ul>
              <ul>
                <li>JAVA</li>
                <li>Spring Boot</li>
                <li>PostgreSQL</li>
                <li>Postman</li>
                <li>JSON</li>
                <li>Trello</li>
              </ul>
            </div>
            <div class="d-flex justify-content-around mb-3">
              <a href="https://growshopgozo.onrender.com/index.html" class="card-link boton3">Link Gozo</a>
              <a href="https://github.com/Tatiguzman3036/GozoGrowshop_TrabajoGrupal" class="card-link boton3">Git
                Hub</a>
            </div>
          </div>
        </div>
      </section>
      <section class="m-2" id="hablemos">
        <h2 class="text-center text-white">Let's Talk:</h2>
        <div class="d-flex justify-content-center align-items-center m-2">
          <form class="w-50 hablemos fondo p-2 rounded-2 border border-2 border-black">
            <div class="form-group">
              <label for="nombre">
                Full name</label>
              <input type="text" v-model="correo.nombre" id="nombre">
            </div>
            <div class="form-group">
              <label for="correo">
                Email</label>
              <input type="email" v-model="correo.email" id="correo">
            </div>
            <div class="form-group">
              <label for="mensaje">Message</label>
              <textarea v-model="correo.mensaje" id="mensaje" class="textarea" rows="5"></textarea>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button @click.prevent="enviar" class="boton3  text-center w-50">
                Send Message</button>
            </div>
          </form>
        </div>
        <h2 class="text-center text-white">Other Links:</h2>
        <div class="d-flex justify-content-around align-items-center flex-wrap">
          <button class="rounded-2 fondo"><img src="../images/LinkedIn.svg" class="p-1" alt="Linkedin"><a
              href="https://www.linkedin.com/in/tatiana-guzm%C3%A1n-80b25a1a8/"
              class="text-decoration-none text-white bg-transparent me-2 ms-2 boton3">My Linkedin</a></button>
          <button class="rounded-2 fondo"><img src="../images/Github.svg" alt="GitHub" class="p-1"><a
              href="https://github.com/Tatiguzman3036"
              class="text-decoration-none text-white me-2 ms-2 bg-transparent boton3">My GitHub</a></button>
          <button class="rounded-2 fondo"><img src="../images/correo.png" alt="Correo"><a
              href="mailto:tatianaguadalupeguzmn@hotmail.com"
              class="text-decoration-none bg-transparent text-white me-2 ms-2 boton3">tatianaguadalupeguzmn@hotmail.com</a></button>
          <button class="rounded-2 fondo"><img src="../images/descargar.svg" alt="Descargar" class="p-1"><a
              href="../images/cv/GUZMAN TATIANA GUADALUPE.pdf" download="CV(Español)Guzmán,Tatiana" title="Descargar CV"
              class="text-decoration-none text-white bg-transparent me-2 ms-2 boton3">Download CV(Spanish)</a></button>
          <button class="rounded-2 fondo"><img src="../images/descargar.svg" alt="Descargar" class="p-1"><a
              href="../images/cv/GUZMAN TATIANA GUADALUPE_ ENG.pdf" download="CV(English)Guzmán,Tatiana"
              title="Descargar CV" class="text-decoration-none text-white bg-transparent me-2 ms-2 boton3">Download
              CV(English)</a></button>
        </div>
      </section>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>